
body {
	background-color: #FFFAF2;

}

.header {
	width: 100%;
	height: 20px;
	background-color: #90827B;
	padding: 35px;
	
	
	


}

.header h1 {
	text-align: center;
	margin-right: 70px;
	

}

.score h2 {
	text-align: center;
	padding: 20px;
	margin-top: 35px;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 375px;
}

.square {
	height: 200px;
	width: 175px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.jpg");
	background-size: cover;


}